div#header-newmobile {
    display: none;
}
.row.card-balance .crd_div .card_bal {
    display: none;
}
.mobile__foter {
    display: none;
}
@media screen and (max-width: 900px){
    #main-header{
        display: none;
    }
    #header-row .MuiToolbar-regular{
        min-height: inherit !important;
        max-height: inherit !important;
        padding: 0px 20px;
        background: #000000;
        box-shadow: rgb(48, 48, 51) 0px 0px 12px 6px;
    }
    .card__gers .container{
        padding: 0px;
    }
    div#header-newmobile {
        display: block;
    }
    .navigation-one {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    .mobile-toogle {
        order: 2;
    }
    .mobile-logo{
        order: 1;
        display: flex;
    }
    .navigation{
        padding: 15px 0px;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        background-color: #000000;
        box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
        justify-content: space-between;
    }
    .mobile-toogle {
        width: fit-content;
        text-align: left !important;
        height: 17px;
    }
    button.hamburger {
        background: none !important;
        border: 0px;
        padding: 0px !important;
        transform: rotate(180deg);
    }
    .clols {
        display: none;
    }
    .hamburger svg {
        width: 17px;
        height: 17px;
    }
    .mplo {
        display: flex;
    }
    .hamburger svg path{
        fill: #FFFFFF;
    }
    div#header-newmobile.header-expanded.avtive .mplo {
        display: none;
    }
    div#header-newmobile.header-expanded.avtive .clols {
        display: flex;
    }
    .navigation-menu.expanded {
        position: fixed;
        top: 0px;
        width: 100% !important;
        padding: 70px 0px 0px 0px;
        background: #000000;
        height: 100vh;
        z-index: -1;
        left: 0px;
    }
    .navigation-menu {
        margin-left: auto;
    }
    .navigation-menu ul {
        display: none;
    }
    .navigation-menu.expanded ul {
        display: block;
        padding: 0px;
    }
    .navigation-menu.expanded ul li {
        padding: 13px 10px;
        margin: 0px !important;
        list-style-type: none;
    }
    .navigation-menu.expanded ul li a {
        font-size: 19px;
        line-height: 32px;
        color: #FFFFFF;
        text-align: center;
        font-family: 'urbanist-regular' !important;
        width: fit-content;
        margin: 0 auto;
        font-weight: 400;
    }
    .navigation-menu li a {
        text-decoration: none;
        display: block;
    }
    #header-newmobile .navigation-menu.expanded ul li a.launching-btn {
        width: 100% !important;
        font-size: 18px !important;
        padding: 10px 15px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent !important;
        border: 1.5px solid #5ED3F0 !important;
    }
    .header-logo {
        padding: 0px 0px 0px 0px !important;
        background: transparent;
        border: none;
        outline: none;
        box-shadow: none;
    }
    .header-logo a {
        display: flex !important;
    }
    .header-logo a img {
        width: 110px !important;
    }

    /* Subheader styling starts from here */
    #subheader ul.navlink li a{
        font-size: 14px !important;
    }
    #subheader {
        width: 90% !important;
        padding: 0px !important;
        margin: 0 auto !important;
        position: relative;
        margin-top: 20px !important;
    }
    #subheader .logo-nav a img {
        width: 20px;
        height: 20px;
    }
    #subheader .logo-nav a{
        font-size: 13px;
        padding: 4px 8px;
    }
    #subheader .logo-nav{
        width: fit-content;
    }
    #subheader .menu{
        width: fit-content;
    }
    #subheader ul.navlink{
        column-gap: 10px;
    }
    .row.card-balance .crd_div{
        width: 100%;
        justify-content: center;
        order: 1;
    }
    .row.card-balance{
        flex-direction: column;
        width: 100%;
    }
    .row.card-balance .balance{
        display: flex;
        width: 100%;
        order: 2;
        flex-direction: column;
    }
    .row.card-balance .crd_div .card_bal .balance {
        order: 1 !important;
    }
    .row.card-balance .crd_div .card_bal a.btn-sd{
        order: 2;
    }
    .card__gers {
        padding: 40px 20px;
    }
    .row.card-balance .crd_div .card_bal {
        display: flex;
        padding-bottom: 20px;
    }    
    .row.card-balance .balance .card_bal {
        display: none;
    }
    .balance h1, .balance h2{
        font-size: 22px;
        line-height: 28px;
    }
    a.btn-sd{
        width: 102px;
        height: 33.3px;
    }
    .token-div .trhs {
        width: 100%;
        padding: 0px;
        justify-content: space-around;
        height: 80px;
        margin-bottom: 20px;
    }
    .token-div{
        flex-direction: column;
        order: 2;
        padding: 20px 0px 0px 0px;
        border-bottom: 0px;
    }
    .fgerfe {
        order: 1;
        padding: 60px 0px 0px 0px;
    }
    .wal__tbl {
        order: 3;
        padding-top: 30px;
    }
    .fgerfe.dfsd {
        order: 4;
    }
    .trhs .token {
        width: 40%;
        gap: 10px;
    }
    .token-pric {
        width: 40%;
    }
    .token-pric p:nth-child(1), .token-pric p:nth-child(2){
        text-align: end;
    }
    .fgerfe a.btn-sd {
        font-size: 14px;
        width: 88px;
        height: 32px;
    }
    .wal__tbl tr th:nth-child(2), .wal__tbl table tr td:nth-child(2),
    .wal__tbl tr th:nth-child(4), .wal__tbl table tr td:nth-child(4){
        display: none;
    }
    .token h3{
        font-family: 'urbanist-medium' !important;
    }
    .token p{
        width: 10px;
    }
    .wal__tbl tr th:nth-child(1) {
        width: unset;
        min-width: 120px;
    }
    .wal__tbl tr th:nth-child(3) {
        width: 100px;
        text-align: center;
    }
    th:nth-child(5){
        width: 100px;
    }
    .splashScreen{
        display: none !important;
    }
    body{
        overflow: visible !important;
    }
    .wal__tbl td.token{
        width: inherit;
        min-width: 120px;
    }
    td.bal_usd{
        width: inherit;
        min-width: 100px;
    }
    .wal__tbl th:nth-child(5){
        width: inherit;
        min-width: 72px;
    }
    td.bal_usd p{
        text-align: center;
    }
    .mobile__foter {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #000000;
        z-index: 1;
        padding: 15px 20px;
        max-width: -webkit-fill-available;
        box-shadow: rgb(48, 48, 51) 0px 0px 12px 6px;
    }
    .mode.light-mode .mobile__foter {
        background: #FFFFFF;
        box-shadow: rgb(231, 227, 235) 0px 0px 12px 6px;
    }
    .light-mode #header-row .MuiToolbar-regular{
        box-shadow: rgb(231, 227, 235) 0px 0px 12px 6px;
        background: #FFFFFF;
    }
    .light-mode .navigation{
        background: #FFFFFF;
        box-shadow: none;
    }
    .light-mode img.lght {
        display: none;
    }
    .dark-mode img.drk {
        display: none;
    }
    .light-mode .navigation-menu.expanded{
        background: #FFFFFF;
    }
    .light-mode .navigation-menu.expanded ul li a{
        color: #000000;
    }
    .light-mode .navigation-menu.expanded ul li a:hover{
        color:#5ED3F0;
    }
    .light-mode .hamburger svg path{
        fill: #000000;
    }
    .mobile__foter a.connect_wal {
        color: #FFFFFF;
        font-size: 12px;
        border-radius: 5px;
        padding: 2px 8px;
    }
    body .light-mode {
        background: #FFFFFF;
        will-change: unset;
        transform: unset;
        transition: unset;
    }
    body .dark-mode{
        background: #000000;
        will-change: unset;
        transform: unset;
        transition: unset;
    }
    .mobile__foter .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}